@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  /* stops bg color from leaking outside the border: */
  background-clip: padding-box;
}
@mixin border-top-radius($radius) {
  -webkit-border-right-radius: $radius;
  -webkit-border-left-radius: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-right-radius: $radius;
  -webkit-border-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  background-clip: padding-box;
}

@mixin box-shadow($h, $y, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $h $y $blur $color;
    -moz-box-shadow: inset $h $y $blur $color;
    box-shadow: inset $h $y $blur $color;
  } @else {
    -webkit-box-shadow: $h $y $blur $color;
    -moz-box-shadow: $h $y $blur $color;
    box-shadow: $h $y $blur $color;
  }
}
@mixin no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie);
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin make-space($padding, $basePadding: 0) {
  padding-left: $padding/2;
  padding-right: $padding/2;
  &:first-child {
    padding-left: $basePadding;
  }
  &:last-child {
    padding-right: $basePadding;
  }
}

@mixin make-margin($margin, $baseMargin: 0) {
  margin-left: $margin/2;
  margin-right: $margin/2;
  &:first-child {
    margin-left: $baseMargin;
  }
  &:last-child {
    margin-right: $baseMargin;
  }
}

@mixin make-margin-deep($el, $margin, $baseMargin: 0) {
  #{$el} {
    margin-left: $margin/2;
    margin-right: $margin/2;
  }
  &:first-child {
    #{$el} {
      margin-left: $baseMargin;
    }
  }
  &:last-child {
    #{$el} {
      margin-right: $baseMargin;
    }
  }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}
/**
 * $font-size {px}
 * $line-height {em}
 */
@mixin truncate-multi-lines($font-size, $line-height, $lines-to-show: 1) {
  $fontSize: parseInt($font-size);
  $lineHeight: parseInt($line-height);
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-height: $fontSize * $lineHeight * $lines-to-show + px; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
